.aspect-auto        { 
    aspect-ratio: auto; 
}
.aspect-square      { 
    aspect-ratio: 1 / 1; 
}
.aspect-video       { 
    aspect-ratio: 16 / 9; 
}
.box-border {
    box-sizing: border-box;
}
.box-content {
    box-sizing: content-box;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.static {
    position: static;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.sticky {
    position: sticky;
}
.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}
.collapse {
    visibility: collapse;
}
.z-0 {
    z-index: 0;
}
.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
.z-30 {
    z-index: 30;
}
.z-40 {
    z-index: 40;
}
.z-50 {
    z-index: 50;
}
.z-auto {
    z-index: auto;
}

.scale-0            { 
    transform: scale(0); 
}
.scale-x-0          { 
    transform: scale(0); 
}
.scale-y-0          { 
    transform: scale(0); 
}
.scale-50           { 
    transform: scale(.5); 
}
.scale-x-50         { 
    transform: scale(.5); 
}
.scale-y-50         { 
    transform: scale(.5); 
}
.scale-75           { 
    transform: scale(.75); 
}
.scale-x-75         { 
    transform: scale(.75); 
}
.scale-y-75         { 
    transform: scale(.75); 
}
.scale-90           { 
    transform: scale(.9); 
}
.scale-x-90         { 
    transform: scale(.9); 
}
.scale-y-90         { 
    transform: scale(.9); 
}
.scale-95           { 
    transform: scale(.95); 
}
.scale-x-95         { 
    transform: scale(.95); 
}
.scale-y-95         { 
    transform: scale(.95); 
}
.scale-100          { 
    transform: scale(1); 
}
.scale-x-100        { 
    transform: scale(1); 
}
.scale-y-100        { 
    transform: scale(1); 
}
.scale-105          { 
    transform: scale(1.05); 
}
.scale-x-105        { 
    transform: scale(1.05); 
}
.scale-y-105        { 
    transform: scale(1.05); 
}
.scale-110          { 
    transform: scale(1.1); 
}
.scale-x-110        { 
    transform: scale(1.1); 
}
.scale-y-110        { 
    transform: scale(1.1); 
}
.scale-125          { 
    transform: scale(1.25); 
}
.scale-x-125        { 
    transform: scale(1.25); 
}
.scale-y-125        { 
    transform: scale(1.25); 
}
.scale-150          { 
    transform: scale(1.5); 
}
.scale-x-150        { 
    transform: scale(1.5); 
}
.scale-y-150        { 
    transform: scale(1.5); 
}
.rotate-0           { 
    transform: rotate(0deg); 
}
.rotate-1           { 
    transform: rotate(1deg); 
}
.rotate-2           { 
    transform: rotate(2deg); 
}
.rotate-3           { 
    transform: rotate(3deg); 
}
.rotate-6           { 
    transform: rotate(6deg); 
}
.rotate-12          { 
    transform: rotate(12deg); 
}
.rotate-45          { 
    transform: rotate(45deg); 
}
.rotate-90          { 
    transform: rotate(90deg); 
}
.rotate-180         { 
    transform: rotate(180deg); 
}
.skew-x-0           { 
    transform: skewX(0deg) 
} 
.skew-y-0           { 
    transform: skewY(0deg) 
} 
.skew-x-1           { 
    transform: skewX(1deg) 
} 
.skew-y-1           { 
    transform: skewY(1deg) 
} 
.skew-x-2           { 
    transform: skewX(2deg) 
} 
.skew-y-2           { 
    transform: skewY(2deg) 
} 
.skew-x-3           { 
    transform: skewX(3deg) 
} 
.skew-y-3           { 
    transform: skewY(3deg) 
} 
.skew-x-6           { 
    transform: skewX(6deg) 
} 
.skew-y-6           { 
    transform: skewY(6deg) 
} 
.skew-x-12          { 
    transform: skewX(12deg) 
} 
.skew-y-12          { 
    transform: skewY(12deg) 
} 
.origin-center      { 
    transform-origin: center; 
}
.origin-top         { 
    transform-origin: top; 
}
.origin-top-right   { 
    transform-origin: top right; 
}
.origin-right       { 
    transform-origin: right; 
}
.origin-bottom-right{ 
    transform-origin: bottom right; 
}
.origin-bottom      { 
    transform-origin: bottom; 
}
.origin-bottom-left { 
    transform-origin: bottom left; 
}
.origin-left        { 
    transform-origin: left; 
}
.origin-top-left    { 
    transform-origin: top left; 
}

.sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    white-space: nowrap; 
    border-width: 0; 
}
.not-sr-only { 
    position: static; 
    width: auto; 
    height: auto; 
    padding: 0; 
    margin: 0; 
    overflow: visible; 
    clip: auto; 
    white-space: normal; 
}
